@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: 	#ffeaea;
    font-family: "Poppins", sans-serif;
}

h2{
    margin-bottom: .5rem;
}

.back-top{
    background-image: url('../assets/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position:relative;
    overflow: hidden;
}

.back-top::before{
    content: '';
    display: block;
    background-color: #333;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity: .5;
}

.back-top > *{
    z-index: 10;
    position: relative;
}

#tagline{
    text-align: center;
    font-family: "Black Ops One", sans-serif;
    color: #8d56fd;
    font-size: 2rem;
}

.container{
    position: relative;
    padding: 20px 50px;
}


.search{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.input{
    width: 450px;
    border: 3px solid #fff;
    background: transparent;
    padding: 10px 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    outline: none;
}

::placeholder{
    color: #ffff;
    font-size: 18px;
}

.close-btn{
  position: absolute;
  top: 21px;
  right: 50px;
  cursor: pointer;
  width: 120px;
  height: 46px;
  background: palevioletred;
  color: white;
  border-radius: 50px;
  text-transform: uppercase; 
  font-weight: bold;
  outline: none;
}

button{
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:active{
    transform: scale(0.95);
}

input:focus, button:focus{
    outline: none;
}

ul.songs {
    list-style-type: none;
    padding: 0;
}
  
ul.songs li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.btn {
    background-color: #8d56fd;
    border: 0;
    border-radius: 10px;
    color: #fff;
    /* padding: 4px 10px; */
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

#result{
    text-align: center; 
}

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #8d56fd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}