*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.back-top{
    background-image: url('../assets/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position:relative;
    overflow: hidden;
    opacity: 0.85;
}

#tagline{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: blue;
}

.container{
    position: relative;
    padding: 20px 50px;
}


.search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.input{
    width: 450px;
    border: 3px solid #fff;
    background: transparent;
    padding: 10px 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    outline: none;
}

::placeholder{
    color: red;
    font-size: 18px;
}

.close-btn{
  position: absolute;
  top: 21px;
  right: 50px;
  cursor: pointer;
  width: 120px;
  height: 46px;
  background: palevioletred;
  color: white;
  border-radius: 50px;
  text-transform: uppercase; 
  font-weight: bold;
  outline: none;
}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

input:focus, button:focus{
    outline: none;
}

ul.songs {
    list-style-type: none;
    padding: 0;
}
  
ul.songs li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.btn {
    background-color: #8d56fd;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
  }